@import "bulma/sass/base/minireset.sass";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/elements/title.sass";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
